<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>	<string>https://tmlz.5a7ade8d78df76bddb33a5f57aa7d05e.r2.cloudflarestorage.com/uploads/08579/p5yta2bc1ttq?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=940ee8ab3012e97c77e8f56dfb9acb8f%2F20241119%2Fauto%2Fs3%2Faws4_request&X-Amz-Date=20241119T054941Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22CapCut_58.279_1731955199.ipa%22&X-Amz-Signature=ec2458a5ed255686549d08d98da818b0e4dd6b49f6988721ce925b4063f02a00</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/35/ea/48/35ea4800-4d76-3b15-d153-46603708611b/AppIcon-0-0-1x_U007emarketing-0-7-0-0-85-220.png/512x512bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/35/ea/48/35ea4800-4d76-3b15-d153-46603708611b/AppIcon-0-0-1x_U007emarketing-0-7-0-0-85-220.png/512x512bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.lemon.lvoverseas</string>
				<key>bundle-version</key>
				<string>58.279</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>CapCut Totally</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
