<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cloud.cocotweaks.com/file/7j0/Minecraft(✅)Signed.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/55/a7/9b/55a79bdd-78eb-1a1c-3f51-dd5f3aea4f82/AppIcon-0-0-1x_U007emarketing-0-9-0-85-220.png/512x512bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/55/a7/9b/55a79bdd-78eb-1a1c-3f51-dd5f3aea4f82/AppIcon-0-0-1x_U007emarketing-0-9-0-85-220.png/512x512bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.mojang.minecraftpe</string>
				<key>bundle-version</key>
				<string>1.21.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Minecraft Paid</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
