<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cloud.nabzclan.vip/file/2Vl/826c1895f766cbe8b45faede07fd65fa_1728153000.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.brawlmod.sroyziapple</string>
				<key>bundle-version</key>
				<string>1.1714</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Modified Brawl</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
