<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cloud.cocotweaks.com/file/4I6/Modified_Brawl_SunshineNew2Bruh.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/brawlmodlol/Signed-IPA/main/IMG_1894.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/brawlmodlol/Signed-IPA/main/IMG_1894.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.brawlmod.sroyziapple</string>
				<key>bundle-version</key>
				<string>1.1714</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Modified Brawl Modified By BrawlMod Server By Sroyzi Brawl Try Link 1 or 3 If installation fails</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
