<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ikp1.sharemods.com/cgi-bin/dl.cgi/jfvefszz6uofeqlvhzx2e57jjd5pcel5wjddsp5jpzeg4wjrn67bs7a/Modified_Brawl_China_Citic1.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/Isaac11179/Signed-IPA/raw/main/IMG_1063.webp</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/Isaac11179/Signed-IPA/raw/main/IMG_1063.webp</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.brawlmod.sroyziapple</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Modified Brawl Modified By BrawlMod Server By Sroyzi Brawl</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
