<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cloud.nabzclan.vip/file/5E2/Slides_59.197_1734881306.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/d7/79/c5/d779c5f8-7a98-dfdd-676d-c9772f43d7ed/logo_slides_2020q4_color-0-1x_U007emarketing-0-0-0-6-0-0-0-85-220-0.png/512x512bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/d7/79/c5/d779c5f8-7a98-dfdd-676d-c9772f43d7ed/logo_slides_2020q4_color-0-1x_U007emarketing-0-0-0-6-0-0-0-85-220-0.png/512x512bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.Slides</string>
				<key>bundle-version</key>
				<string>58.279</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Nulls Brawl Hidden As Slides (Updated)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
